
$buttonW: 24px;
$buttonH: 24px;

@mixin iconedButton($hideText: true) {
    color: #000;
    position: relative;
    appearance: none;
    border-radius: 2px;
    background: #eee;
    border: 1px solid rgba(#000, 0.4);
    box-shadow: inset 0 1px 0 rgba(#fff, 0.75), inset 0 -1px 0 rgba(#000, 0.1);
    padding: 0 $buttonW 0 5px;
    line-height: ($buttonH - 2px);
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color $animDuration;

    @if $hideText {
        @include hideText;
        width: $buttonW;
        padding-left: 0;
        padding-right: 0;
    }

    &:hover {
        background-color: #ddd;
    }

    &[disabled] {
        cursor: default;
        opacity: 0.5;
        background: #eee !important;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $buttonW;
        height: ($buttonH - 2px);
        background: no-repeat 50% 47%;
        background-size: 65%;
    }
}

.btn-addtocart {
    @include iconedButton($hideText: false);
    background-color: #d8fae4;

    &:hover { background-color: #b4e5c5; }

    &:after {
        background-image: url('../svg/cart.svg');
    }
}

.btn-tocart {
    @include iconedButton;
    background-color: #d8fae4;
    
    &:hover { background-color: #b4e5c5; }

    &:after {
        background-image: url('../svg/cart.svg');
    }
}

.btn-towishlist {
    @include iconedButton;

    &:after {
        background-image: url('../svg/wishlist.svg');
    }
}

.btn-remove {
    @include iconedButton;

    &:after {
        background-image: url('../svg/remove.svg');
    }
}

.btn-reset {
    @include iconedButton($hideText: false);

    &:after {
        background-image: url('../svg/remove.svg');
    }
}

