.price {
    display: flex;
    align-items: baseline;

    .price__currency {
        color: #999;
        font-size: 12px;
        margin-right: 5px;
    }

    .price__value {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        flex-grow: 1;
        text-align: right;
    }
}
