.sort-button {
    font: inherit;
    appearance: none;
    border: 0;
    background: transparent;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    color: inherit;
    opacity: 0.35;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    // Active sorting option
    &.is-active {
        opacity: 1;
    }

    // Sorting direction
    &:after {
        content: '▼';
        font-size: 0.75em;
        vertical-align: baseline;
        display: inline-block;
        margin-left: 2px;
    }

    // Reverted direction
    &.is-reversed {
        &:after {
            content: '▲';
        }
    }
}
