
@function pxToRems($px) {
	$base: 16;
	@return 0rem + $px / $base;
}

@mixin hideText {
	text-indent: -3000em;
	white-space: nowrap;
}

@mixin hideElement {
	position: absolute;
	left: -3000em;
	width: 0;
	height: 0;
	overflow: hidden;
}

@mixin lastChildNoMargin {
	> *:last-child {
		margin-bottom: 0;
	}
}

@mixin mq-min($breakpoint, $media: all) {
	@media #{ $media } and (min-width: $breakpoint) { 
        @content; 
    }
}

@mixin mq-max($breakpoint, $media: all) {
	@media #{ $media } and (max-width: $breakpoint) { 
        @content; 
    }
}

@mixin mq-only($breakpointMin, $breakpointMax, $media: all) {
	@media #{ $media } and (min-width: $breakpointMin) and (max-width: $breakpointMax) { 
        @content; 
    }
}

@mixin svgIcon($width: 100%, $height: 100%) {
    display: block;
    width: $width * 2;
    height: $height * 2;
    margin: ($height * -0.25) ($width * -0.25); // Bummer, I'd like to use this property
    transform: scale(0.5);
}

