
#sgui-horgrid-overlay {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	pointer-events: none;
	opacity: 0.65;
	mix-blend-mode: difference;
	overflow: hidden;

	&.is-hidden {
		display: none;
	}

	svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 200%;
		transform: translateY(-50%);
	}
}

#sgui-horgrid-sample {
	position: absolute;
	left: -3000em;
	top: -3000em;
	height: $vspace * 4; // Custom horizontal grid space
}
