#sgui-column-overlay {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	opacity: 0.15;
	mix-blend-mode: difference;
	display: flex;
	justify-content: center;

	&.is-hidden {
		display: none;
	}

	#sgui-column-overlay--columns {
		display: flex;
		box-sizing: border-box;
		width: 100%;
    	min-width: $wXSmall;
		padding: 0 $canvasHorPad;
		outline: 1px dashed #000;

		@include mq-min($wLarge) {
			max-width: $wLarge;
		}

		@include mq-min($wXLarge) {
			max-width: $wXLarge;
		}

		@include mq-min($wXXLarge) {
			max-width: $wXXLarge;
		}

		> div {
			position: relative;
			background-color: #8080ff;
			flex-grow: 1;
			flex-shrink: 1;
			width: 100%;
			margin: 0 $gutter;

			@include mq-max($wSmallPlusMax) {
				&:nth-child(n+5) { // 4 columns
					display: none;
				}
			}

			@include mq-max($wMediumPlusMax) {
				&:nth-child(n+9) { // 8 columns
					display: none;
				}
			}
		}
	}
}
