
$gutter:            pxToRems(10);
$vspace:            pxToRems(10);
$canvasHorPad:      pxToRems(10);

$animDuration:      250ms;

// Breakpoints

$wXSmall:			pxToRems(320);
$wSmall:			pxToRems(360);
$wSmallPlus:		pxToRems(410);
$wMedium:			pxToRems(768);
$wMediumPlus:		pxToRems(940);
$wLarge:			pxToRems(1024);
$wXLarge:			pxToRems(1280);
$wXXLarge:    		pxToRems(1366);

$wXSmallMax:		$wSmall         - 0.001;
$wSmallMax:			$wSmallPlus     - 0.001;
$wSmallPlusMax:		$wMedium        - 0.001;
$wMediumMax:		$wMediumPlus    - 0.001;
$wMediumPlusMax:	$wLarge         - 0.001;
$wLargeMax: 		$wXLarge        - 0.001;
$wXLargeMax:		$wXXLarge       - 0.001;

// Colors
// http://chir.ag/projects/name-that-color

// Various 

$uiIOSSafariH:      70px;

// Font variables

$font-family-default:   sans-serif;

$font-size-default:     pxToRems(15);

$line-height-default:   1.4;
