
.filters {
    flex-shrink: 0;
    width: 33.333%;
    background: #f3f3f3;
    box-shadow: inset -3px 0 3px rgba(#000, 0.1); 
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    > h1 { 
        @include hideElement;
    }
}

    .filters__filter {
        padding: 0 0 10px;
        margin: 0 0 10px;
        border-bottom: 1px solid rgba(#000, 0.2);

        &:last-of-type { border-bottom: 0; }

        &.is-single-option {
            display: flex;

            > label {
                flex-grow: 1;
            }

            > select {
                width: 50%;
            }
        }

        &.is-multi-option {
            > .label {
                display: block;
                margin-bottom: 10px;
            }

            > .option-list {
                columns: 2;
                column-gap: 20px;

                > li { 
                    break-inside: avoid; 
                }
            }
        }
    }

// Radio or checkbox list
.option-list {
    margin-bottom: -10px;

    > li { 
        position: relative;
        padding-left: 1.4em;
        padding-bottom: 10px;

        input[type=checkbox] {
            position: absolute;
            left: 0;
            top: -0.1em;
            width: 0.9em;
            height: 0.9em;
        }
    }
}