
#notifier {
    position: fixed;
    z-index: 49999;
    bottom: 20px;
    left: 20px;

    > h1 {
        @include hideElement;
    }

    .notifier__note {
        font-size: 12px;
        line-height: 1.25;
        position: relative;
        width: 30em;
        color: #444;
        margin: 10px 0 0;
        overflow: hidden;
        
        .notifier__note__box {
            position: relative;
            padding: 0.833em 40px 0.833em 10px;
            background: rgba(#f6f6f6, 0.8);
            box-shadow: 0 2px 3px rgba(#000, 0.2);
            border: 1px solid rgba(#000, 0.25);
            transition: background-color $animDuration; 
            
            &:hover { 
                background-color: rgba(#eee, 0.65); 
            }

            em { 
                color: #000;
                font-weight: bold; 

                &.created { color: green; }
                &.destroyed { color: red; }
            }
        }
        
        // Transition on enter
        &.t-enter-active {
            transition: margin-top      $animDuration/2 0s,
                        transform       $animDuration/2 0s;

            .notifier__note__box { 
                transition: background-color    $animDuration*8 $animDuration/2,
                            opacity             $animDuration/2 $animDuration/4; 
            }
        }

        &.t-enter {
            margin-top: 0;
            transform: scaleY(0);
            
            .notifier__note__box { 
                background-color: rgba(yellow, 0.8);
                opacity: 0;
            }
        }

        // Transition on leave
        &.t-leave-active {
            transition: margin-top      $animDuration/2 $animDuration,
                        transform       $animDuration/2 $animDuration;

            .notifier__note__box { 
                transition: opacity $animDuration 0s;
            }
        }

        &.t-leave-to {
            margin-top: 0;
            transform: scaleY(0);

            .notifier__note__box { 
                opacity: 0;
            }
        }
    }

        .notifier__note__close {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
}