
.products {
    flex-grow: 1;
    background: #fcfcfc;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    
    > h1 { 
        @include hideElement;
    }
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    //table-layout: fixed;

    th, td {
        text-align: left;
        vertical-align: baseline;
        padding: 10px;
    }

    thead {
        tr {
            border-bottom: 1px solid rgba(#000, 0.05);
        }

        th, td {
            font-weight: bold;
            padding-top: 0;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid rgba(#000, 0.05);
            transition: background-color $animDuration;
            user-select: none;

            &:hover {
                background-color: rgba(#000, 0.025);
            }

            &.is-dragged {
                background-color: transparent !important;

                > th, > td {
                    opacity: 0.2;
                }
            }
        }
    }

        .products-table__thumbnail {
            vertical-align: top;
            cursor: pointer;
            
            img {
                display: block; 
                width: 64px; 
                height: 64px;
                background: #f6f6f6;
                border: 1px solid #eee;
            }
        }
        
        .products-table__information {
            cursor: pointer;
        }

            h1 {
                font-weight: bold;
                margin: 0 0 5px;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover { text-decoration: underline; }
                }
            }

            p {
                font-size: 12px;
                line-height: 1.25;
                margin-bottom: 5px;
            }

            .products-table__feat-list {
                color: #999;
                font-size: 12px;
                line-height: 1.25;
                display: flex;

                h2 {
                    font: inherit;
                    margin-right: 0.25em;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        margin-right: 0.25em;

                        &:after { content: ','; }
                        &:last-child:after { content: ''; }
                    }
                }
            }

        .products-table__price {       
            white-space: nowrap;
            text-align: right;
        }
        
        .products-table__actions {
            white-space: nowrap;
        }
}

.products__no-results {
    color: #999;
    margin: 0 10px 20px;
}
