
.wishlist {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    margin: 20px;
    transition: box-shadow $animDuration;

    > h1 {
        font-weight: bold;
        padding: 0 10px 10px;
        border-bottom: 1px solid rgba(#000, 0.15);
    }

    &.is-droppable {
        box-shadow: inset 0 0 25px rgba(#000, 0.15);
    }
}

    .wishlist-table {
        width: 100%;
        border-collapse: collapse;
        
            th, td {
                text-align: left;
                vertical-align: baseline;
                padding: 10px;
            }

            tbody {                
                tr {
                    border-bottom: 1px solid rgba(#000, 0.05);
                    transition: background-color $animDuration;
                    user-select: none;
        
                    &:hover { background-color: rgba(#000, 0.025); }       
                    
                    &:last-child { border-bottom: 1px solid rgba(#000, 0.15); }
                    
                    // Transition
                    &.t-enter-active { transition: background-color $animDuration*4; }        
                    &.t-enter { background-color: rgba(yellow, 0.65); }
                    &.t-leave-active { transition: none; }   

                    &.flash { animation: $animDuration*4 1 flashWishlistItem; }
                }
                
                    a {
                        text-decoration: none;
                        color: inherit;

                        &:hover { text-decoration: underline; }
                    }
            }

            tfoot {                
                tr { 
                    font-weight: bold;
                    border-bottom: 1px solid rgba(#000, 0.05); 
                    
                    &:last-child { border-bottom: 0; }                
                }

                th { text-align: right; }
            }

            .wishlist-table__information {
                cursor: pointer;
            }
            
            .wishlist-table__amount {  
                input {
                    width: 3em;
                    text-align: center;
                }
            }
            
            .wishlist-table__price {       
                white-space: nowrap;
                text-align: right;
            }
            
            .wishlist-table__actions {
                white-space: nowrap;
            }
    }

@keyframes flashWishlistItem {
    from {
        background: rgba(yellow, 0.65); 
    }
    to {
        background: transparent;
    }
}