<template>
    <transition name="t">
        
        <tr draggable="true" @dragstart="dragstart" @dragend="dragend" :class="{ 'is-dragged': isDragged, flash }">
            <th class="cart-table__information" scope="row">
                <a :href="product.uri" rel="bookmark">{{ product.name }}</a>
            </th>
            <td class="cart-table__amount">
                <input type="number" min="1" v-model="itemAmount" @click.stop="" @change="update" />
            </td>
            <td class="cart-table__price">            
                <div class="price">
                    <span class="price__currency">EUR</span> 
                    <span class="price__value">{{ product.price.value | renderPrice }}</span>
                </div>
            </td>
            <td class="cart-table__actions">
                <button type="button" class="btn-towishlist" @click.stop="toWishlist">{{ def({ set: 'interface', id: 'moveToWishlistButton' }) }}</button>
                <button type="button" class="btn-remove" @click.stop="remove">{{ def({ set: 'interface', id: 'removeFromCartButton' }) }}</button>
            </td>
        </tr>
        
    </transition>
</template>

<script>

    import { EventBus } from '../../shared/event-bus';
    import renderPrice from '../../functions/render-price.js';

    export default {
        props: {
            product: {},
            amount: Number
        }, 
        data () {
            return {
                itemAmount: this.amount,
                isDragged: false
            };
        },
        filters: {
            renderPrice
        },
        watch: {
            amount () {
                this.itemAmount = this.amount;
                this.flashComponent();
            }
        },
        methods: {
            remove () {
                EventBus.$emit('removeItemFromWishlist', { 
                    id: this.product.id 
                });
            },
            toWishlist () {
                EventBus.$emit('moveItemFromCartToWishlist', { 
                    id: this.product.id, 
                    amount: parseInt(this.amount, 10) 
                });
            },
            update () {
                let amount = parseInt(this.itemAmount, 10);
                if (amount < 1) this.itemAmount = amount = 1;
                EventBus.$emit('amount', { 
                    id: this.product.id, 
                    amount 
                });
            },
            dragstart (event) {
                this.isDragged = true;
                //event.dataTransfer.effectAllowed = 'copy';

                EventBus.$emit('setDragProduct', { 
                    id: this.product.id, 
                    source: 'cart',
                    amount: this.amount
                });
            },
            dragend () {
                this.isDragged = false;
                EventBus.$emit('setDragProduct', null);
            }
        }
    };

</script>
        