<template>
        
    <section class="cart" @dragover.prevent="dragover" @dragleave="dragleave" @drop.stop="drop" :class="{ 'is-droppable': isDroppable }">
        <h1>{{ def({ set: 'interface', id: 'cart' }) }}</h1>
        <table class="cart-table">
            <col width="100%" />
            <col />
            <col />
            <col />

            <tfoot v-if="cart.length > 0">
                <tr>
                    <th scope="row" colspan="2">{{ def({ set: 'interface', id: 'totalAmount' }) }}:</th>
                    <td>     
                        <div class="price">
                            <span class="price__currency">EUR</span> 
                            <span class="price__value">{{ totalPrice | renderPrice }}</span>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tfoot>

            <tbody>
                <v-cart-item v-for="item in cart" :product="getProductById(item.id)" :amount="item.amount" @amount="updateItemAmount"></v-cart-item>
            </tbody>
        </table>
    </section>

</template>

<script>

    import { EventBus } from '../../shared/event-bus';
    import { mapGetters, mapActions } from 'vuex';
    import vCartItem from './cart.item.vue';
    import renderPrice from '../../functions/render-price.js';    

    export default {
        components: { 
            vCartItem
        },
        data () {
            return {
                isDroppable: false
            };
        },
        computed: {
            ...mapGetters([
                'cart',
                'products',
                'draggedProduct'
            ]),
            totalPrice () {
                let price = 0;
                this.cart.forEach(item => {
                    const product = this.getProductById(item.id);
                    price += (product.price.value * item.amount);
                });
                return price;
            }
        },
        filters: {
            renderPrice
        },
        methods: {
            ...mapActions([
                'updateCartItem'
            ]),
            getProductById (id) {
                return this.products.find(item => item.id === id);
            },
            updateItemAmount ({ id, amount }) {
                const props = { amount };
                this.updateCartItem({ id, props });
            },
            dragover (event) { 
                const p = this.draggedProduct;
                if (p && p.source !== 'cart') {
                    //event.dataTransfer.dropEffect = 'copy';
                    this.isDroppable = true;
                }
            },
            dragleave () {
                this.isDroppable = false;
            },
            drop () {
                this.isDroppable = false;
                EventBus.$emit('drop', { target: 'cart' })
            }
        }
    };
</script>
        