<template>
        
    <main @dragover.prevent="" @drop="drop">
        <section class="catalogue">
            <h1>{{ def({ set: 'interface', id: 'catalogue' }) }}</h1>
            <div>
                <v-filters></v-filters>
                <v-product-list 
                    @addItemToCart="addItemToCart" 
                    @addItemToWishlist="addItemToWishlist">
                </v-product-list>
            </div>
        </section>

        <div class="lists">
            <v-cart 
                @moveItemFromCartToWishlist="moveItemFromCartToWishlist" 
                @removeItemFromCart="removeItemFromCart">
            </v-cart>
            <v-wishlist 
                @moveItemFromWishlistToCart="moveItemFromWishlistToCart" 
                @removeItemFromWishlist="removeItemFromWishlist">
            </v-wishlist>
        </div>      
        
        <v-notifier></v-notifier>
    </main>

</template>  

<script>

    import vFilters from './filters/index.vue'; 
    import vProductList from './products/index.vue'; 
    import vWishlist from './wishlist/index.vue'; 
    import vCart from './cart/index.vue'; 
    import vNotifier from './notifier/index.vue'; 
    
    import { EventBus } from '../shared/event-bus';
    import { mapActions, mapGetters } from 'vuex';

    export default {
        components: { 
            vFilters, 
            vProductList, 
            vWishlist, 
            vCart, 
            vNotifier 
        },
        computed: {
            ...mapGetters([
                'products',
                'draggedProduct'
            ])
        },
        mounted () {
            EventBus.$on('addItemToCart',               product => this.addItemToCart(product));
            EventBus.$on('removeItemFromCart',          product => this.removeItemFromCart(product));
            EventBus.$on('moveItemFromCartToWishlist',  product => this.moveItemFromCartToWishlist(product));

            EventBus.$on('addItemToWishlist',           product => this.addItemToWishlist(product));
            EventBus.$on('removeItemFromWishlist',      product => this.removeItemFromWishlist(product));
            EventBus.$on('moveItemFromWishlistToCart',  product => this.moveItemFromWishlistToCart(product));

            EventBus.$on('setDragProduct',              product => this.setDragProduct(product));
            EventBus.$on('drop',                        info => this.processDrop(info));
        },
        methods: {
            ...mapActions([
                'addNotification',
                'addCartItem',
                'removeCartItem',
                'addWishlistItem', 
                'removeWishlistItem',
                'storeDraggedProduct'
            ]),    
            getProductById (id) {
                return this.products.find(item => item.id === id);
            },

            // Add product to cart
            addItemToCart ({ id, amount }) {
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'addToCart' });
                const note = { text: template(product.name) };

                this.addCartItem({ id, amount }).then(() => this.addNotification({ note }));
            },

            // Remove product from cart
            removeItemFromCart ({ id }) {
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'removeFromCart' });
                const note = { text: template(product.name) };

                const confirmation = this.def({ set: 'confirmations', id: 'removeFromCart' });

                if (window.confirm(confirmation(product.name))) {
                    this.removeCartItem({ id })
                        .then(() => this.addNotification({ note }));
                }
            },     

            // Move product from cart to wishlist       
            moveItemFromCartToWishlist ({ id, amount }) {
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'moveToWishlist' });
                const note = { text: template(product.name) };

                this.addWishlistItem({ id, amount })
                    .then(() => this.removeCartItem({ id }))
                    .then(() => this.addNotification({ note }));
            },

            // Add product to wishlist
            addItemToWishlist ({ id, amount }) {                
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'addToWishlist' });
                const note = { text: template(product.name) };

                this.addWishlistItem({ id, amount }).then(() => this.addNotification({ note }));
            },

            // Remove product from wishlist
            removeItemFromWishlist ({ id }) {
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'removeFromWishlist' });
                const note = { text: template(product.name) };

                const confirmation = this.def({ set: 'confirmations', id: 'removeFromWishlist' });

                if (window.confirm(confirmation(product.name))) {
                    this.removeWishlistItem({ id })
                        .then(() => this.addNotification({ note }));
                }
            },

            // Move product from wishlist to cart
            moveItemFromWishlistToCart ({ id, amount }) {
                const product = this.getProductById(id);
                const template = this.def({ set: 'notifications', id: 'moveToCart' });
                const note = { text: template(product.name) };

                this.addCartItem({ id, amount })
                    .then((args) => this.removeWishlistItem({ id }))
                    .then(() => this.addNotification({ note }));
            },

            // Remember the currently dragged product
            setDragProduct (product) {
                this.storeDraggedProduct({ product });
            },

            // Process a drop event
            processDrop (info) {
                const product = this.draggedProduct;
                if (product) {
                    if (product.source === 'productList' 
                        && info.target === 'cart') 
                        this.addItemToCart(product);

                    if (product.source === 'productList' 
                        && info.target === 'wishlist') 
                        this.addItemToWishlist(product);

                    if (product.source === 'cart' 
                        && info.target === 'wishlist') 
                        this.moveItemFromCartToWishlist(product);

                    if (product.source === 'wishlist' 
                        && info.target === 'cart') 
                        this.moveItemFromWishlistToCart(product);
                }
            },

            // Drop detected, usually when a product is dragged out of the cart or wishlist
            drop () {
                const product = this.draggedProduct;
                if (product) {
                    if (product.source === 'cart')
                        this.removeItemFromCart(product);
                        
                    if (product.source === 'wishlist')
                        this.removeItemFromWishlist(product);
                }
            }
        }
    };

</script>
        