<template>

    <section class="products">
        <h1>Products</h1>
        <table class="products-table" v-if="filteredProducts.length > 0">

            <col />
            <col width="100%" />
            <col />
            <col />

            <thead>
                <tr>
                    <th scope="col" colspan="2">
                        <v-sorting-button :active="isActiveSorter('sortProductName')" :template="getSorter('sortProductName')"
                                        @active="setActiveSorter" @reverse="reverseSorter"></v-sorting-button>
                    </th>
                    <th class="products-table__price" scope="col">
                        <v-sorting-button :active="isActiveSorter('sortProductPrice')" :template="getSorter('sortProductPrice')"
                                        @active="setActiveSorter" @reverse="reverseSorter"></v-sorting-button>
                    </th>
                    <td class="products-table__actions"></td>
                </tr>
            </thead>
            <tbody>
                <v-product-item v-for="product in filteredProducts" :product="product"></v-product-item>
            </tbody>
        </table>
        <p class="products__no-results" v-if="filteredProducts.length === 0">{{ def({ set: 'interface', id: 'noProductsFound' }) }}</p>
    </section>

</template>

<script>

    import { mapGetters, mapActions } from 'vuex';
    import vSortingButton from './sorting-button.vue';
    import vProductItem from './products.item.vue';
    import filterProducts from '../../functions/filter-products';
    import sortProducts from '../../functions/sort-products';

    export default {
        components: { 
            vSortingButton,
            vProductItem
        },
        data() {
            return {
                sorters: ['sortProductName', 'sortProductPrice'],
                activeSorterId: 'sortProductPrice',
                sortingOptions: []
            }
        },
        computed: {
            ...mapGetters([
                'products',
                'sortingTemplateData',
                'filterTemplateData',
                'activeFilters'
            ]),
            filteredProducts () {
                const products = filterProducts(this.products, this.activeFilters, this.filterTemplateData);
                
                const sorter = this.getSorter(this.activeSorterId);
                sortProducts(products, sorter);

                return products; 
            }
        },
        mounted () {
            // Build a local array of sorting options based on the store templates,
            // add the reversed property for local use only
            this.sorters.forEach(id => {
                const t = this.sortingTemplateData.find(item => item.id === id);
                this.sortingOptions.push({ id: t.id, name: t.name, method: t.method, reversed: false });
            });
        },
        methods: {
            isActiveSorter (id) {
                return (this.activeSorterId === id);
            },
            getSorter (id) {
                const option = this.sortingOptions.find(item => item.id === id);
                return (option) ? option : {};
            },
            setActiveSorter ({ id }) {
                this.activeSorterId = id;
            },
            reverseSorter ({ id }) {
                const option = this.sortingOptions.find(item => item.id === id);
                if (option) {
                    option.reversed = !option.reversed;
                }
            }
        }
    };

</script>
