<template>

    <tr draggable="true" @dragstart="dragstart" @dragend="dragend" :class="{ 'is-dragged': isDragged }">
        <td @click="gotoUri" class="products-table__thumbnail"><img :src="product.thumbnail" alt="" /></td>
        <th @click="gotoUri" class="products-table__information" scope="row">
            <section>
                <h1><a :href="product.uri" rel="bookmark" @click.stop="">{{ product.name }}</a></h1>
                <p>{{ product.description }}</p>
                <div class="products-table__feat-list">
                    <h2>{{ def({ set: 'product', id: 'color' }) }}:</h2>
                    <ul><li v-for="id in product.colors">{{ def({ set: 'product', kind: 'color', id }) }}</li></ul>
                </div>
                <div class="products-table__feat-list">
                    <h2>{{ def({ set: 'product', id: 'feats' }) }}:</h2>
                    <ul><li v-for="id in product.feats">{{ def({ set: 'product', kind: 'feats', id }) }}</li></ul>
                </div>
            </section>
        </th>
        <td class="products-table__price">
            <div class="price">
                <span class="price__currency">EUR</span> 
                <span class="price__value">{{ product.price.value | renderPrice }}</span>
            </div>
        </td>
        <td class="products-table__actions">
            <button class="btn-towishlist" type="button" @click.stop="toWishlist">{{ def({ set: 'interface', id: 'addToWishlistButton' }) }}</button>
            <button class="btn-addtocart" type="button" @click.stop="toCart">{{ def({ set: 'interface', id: 'addToCartButton' }) }}</button>
        </td>
    </tr>
    
</template>

<script>
        
    import { EventBus } from '../../shared/event-bus';
    import renderPrice from '../../functions/render-price.js';

    export default {
        props: {
            product: {}
        },
        data () {
            return {
                isDragged: false
            };
        },
        filters: {
            renderPrice
        },
        methods: {
            gotoUri () {
                const uri = this.product.uri;
                if (uri) document.location = uri;
            },
            toCart () {
                EventBus.$emit('addItemToCart', { 
                    id: this.product.id 
                })
            },
            toWishlist () {
                EventBus.$emit('addItemToWishlist', { 
                    id: this.product.id 
                })
            },
            dragstart (event) {
                this.isDragged = true;
                //event.dataTransfer.effectAllowed = 'copy';

                EventBus.$emit('setDragProduct', { 
                    id: this.product.id, 
                    source: 'productList',
                    amount: 1
                });
            },
            dragend () {
                this.isDragged = false;
                EventBus.$emit('setDragProduct', null);
            }
        }
    };

</script>
