<template>

    <button type="button" class="sort-button"
            @click="setActive"
            :class="{ 'is-active': active, 'is-reversed': template.reversed }">
        {{ template.name }}
    </button>

</template>

<script>

    export default {
        props: {
            active: Boolean,
            template: {}
        },
        methods: {
            setActive () {
                if (this.active) this.$emit('reverse', { id: this.template.id });
                    else this.$emit('active', { id: this.template.id });
            }
        }
    };

</script>
        