<template>

    <div role="group" class="filters__filter is-single-option" :id="templateHtmlId">
        <label :for="inputHtmlId">{{ def({ set: 'product', id: filter.id }) }}</label>
        <select :id="inputHtmlId" @change="setFilter" v-model="filterValue">
            <option :value="undefined">{{ def({ set: 'interface', id: 'anyOption' }) }}</option>
            <option v-for="id in filter.options" :value="id">{{ def({ set: 'product', kind: filter.id, id }) }}</option> 
        </select>
    </div>

</template>

<script>

    export default {
        props: {
            value: {},
            filter: {}
        },
        data () {
            return {
                filterValue: this.value
            }
        },
        computed: {
            templateHtmlId () {
                return 'filter-' + this.filter.id;
            },
            inputHtmlId () {
                return 'filter-' + this.filter.id + '-select';
            }
        },
        watch: {
            value () {
                this.filterValue = this.value;
            }
        },
        methods: {
            setFilter () {
                this.$emit('set', { id: this.filter.id, value: this.filterValue });
            }
        }
    };

</script>
