<template>

    <div role="group" class="filters__filter is-boolean-option" :id="templateHtmlId">    
        <ul class="option-list">
            <li>
                <input type="checkbox" :id="inputHtmlId" v-model="filterValue" @change="setFilter" />
                <label :for="inputHtmlId">{{ def({ set: 'product', id: filter.id }) }}</label>
            </li>
        </ul>
    </div>

</template>

<script>

    export default {
        props: {
            value: {},
            filter: {}
        },
        data () {
            return {
                filterValue: this.value
            }
        },
        computed: {
            templateHtmlId () {
                return 'filter-' + this.filter.id;
            },
            inputHtmlId () {
                return 'filter-' + this.filter.id + '-checkbox';
            }
        },
        watch: {
            value () {
                this.filterValue = this.value;
            }
        },
        methods: {
            setFilter () {
                this.$emit('set', { id: this.filter.id, value: this.filterValue });
            }
        }
    };

</script>
