<template>

    <div role="group" class="filters__filter is-multi-option" :id="templateHtmlId">        
        <span class="label">{{ def({ set: 'product', id: filter.id }) }}</span>
        <ul class="option-list">
            <li v-for="(id, n) in filter.options">
                <input type="checkbox" :id="inputHtmlId(n)" :value="id"
                       v-model="filterValue" @change="setFilter" />
                <label :for="inputHtmlId(n)">{{ def({ set: 'product', kind: filter.id, id }) }}</label>
            </li>
        </ul>
    </div>

</template>

<script>

    export default {
        props: {
            value: {},
            filter: {}
        },
        data () {
            return {
                filterValue: (this.value) ? this.value : []
            }
        },
        computed: {
            templateHtmlId () {
                return 'filter-' + this.filter.id;
            }
        },
        watch: {
            value () {
                this.filterValue = (this.value) ? this.value : []
            }
        },
        methods: {
            inputHtmlId (n) {
                return 'filter-' + this.filter.id + '-checkbox-' + n;
            },
            setFilter () {
                this.$emit('set', { id: this.filter.id, value: this.filterValue });
            }
        }
    };

</script>
