<template>
    
    <form class="filters">
        <h1>Filters</h1>
        <v-filter-item v-for="filter in filterTemplateData" :is="filter.type" :value="getValueById(filter.id)" :filter="filter" @set="setActiveFilter"></v-filter-item>
        <button type="button" class="btn-reset" @click.stop="resetActiveFilters">{{ def({ set: 'interface', id: 'resetButton' }) }}</button>
    </form>

</template>
<script>

    import { mapActions, mapGetters } from 'vuex';
    import singleOption from './filter.single-option.vue';
    import multiOption from './filter.multi-option.vue';
    import booleanOption from './filter.boolean-option.vue';

    export default {
        components: { 
            singleOption,
            multiOption,
            booleanOption
        },
        computed: {
            ...mapGetters([ 
                'filterTemplateData',
                'activeFilters'
            ])
        },
        mounted () {
            this.resetActiveFilters();
        },
        methods: {
            ...mapActions([
                'resetActiveFilters',
                'setActiveFilter'
            ]),
            getValueById (id) {
                const filter = this.activeFilters.find(item => item.id === id);
                if (filter) return filter.value;
            }
        }
    };

</script>
