
@import './helpers/mixins';
@import './helpers/variables';

@import './base/reset';
@import './base/fonts';
@import './base/elements';

@import './partials/price';
@import './partials/sort';
@import './partials/buttons';

@import './modules/filters';
@import './modules/products';
@import './modules/wishlist';
@import './modules/cart';
@import './modules/notifier';

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

    main {
        flex-grow: 1;
        display: flex;
    }

        .catalogue {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > h1 {
                position: relative;
                z-index: 10;
                padding: 10px 20px;
                box-shadow: 0 3px 3px rgba(#000, 0.1); 
            }

            > div {
                flex-grow: 1;
                display: flex;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
        }

        .lists {
            width: 25%;
            flex-shrink: 0;
            padding: 5px 10px;            
            display: flex;
            flex-direction: column;
            box-shadow: inset 3px 0 3px rgba(#000, 0.1); 

            > * {
                height: calc(50% - 10px);
                margin: 5px 0;
                flex-shrink: 0;
                box-sizing: border-box;
            }
        }

