<template>
        
    <section id="notifier" @mouseover="pause" @mouseout="unpause">
        <h1>Notifications</h1>        
        <v-note v-for="note in $options.filters.sortCreated(notifications)" :note="note" :livetime="getLivetime(note)" :paused="paused" @close="removeNotification" v-if="note.active"></v-note>
    </section>

</template>

<script>

    import { mapGetters, mapActions } from 'vuex';
    import vNote from './notifier.note.vue';

    export default {
        components: { 
            vNote
        },
        data () {
            return {
                paused: false
            };
        },
        computed: {
            ...mapGetters([
                'notifications',
                'appSettings'
            ])
        },
        filters: {
            sortCreated (arr) {
                const result = arr.slice(0);
                return result.sort((a, b) => a.created > b.created);            
            }
        },
        methods: {
            ...mapActions([
                'removeNotification'
            ]),
            getLivetime (note) {
                return (note.livetime || this.appSettings.notifications.livetime);
            },
            pause () { this.paused = true; },
            unpause () { this.paused = false; }
        }
    };

</script>
        