<template>
    <transition name="t">

        <section class="notifier__note">
            <div class="notifier__note__box" @click.stop="closeNote">
                <p v-html="note.text"></p>
                <button type="button" class="notifier__note__close btn-remove" @click.stop="closeNote" title="Close">✖</button>
            </div>
        </section>

    </transition>    
</template>

<script>

    export default {
        props: {
            note: {},
            livetime: Number,
            paused: Boolean 
        }, 
        data () {
            return {
                pausedAt: null
            };
        },
        mounted () {
            this.setLivetime();
        },
        watch: {
            paused () {
                if (this.paused) {
                    this.pausedAt = new Date();
                    window.clearTimeout(this.live);
                } else {
                    const remaining = this.livetime - (this.pausedAt - this.note.created);
                    this.setLivetime(remaining);
                }
            }
        },
        methods: {
            closeNote () {
                window.clearTimeout(this.live);
                this.$emit('close', { id: this.note.id });
            },
            setLivetime (duration=this.livetime) {
                this.live = window.setTimeout(() => this.closeNote(), duration);
            }
        }
    };

</script>
        